.bis{
	margin-top:10%;
	border:1px solid black;
	
}
#but{
	border-bottom:1px solid black;
	margin-top:3%;
}
.log{
	border-bottom:1px solid black;
	margin-bottom: 5%
}
.bisis{
	border:1px solid black;
	height:200px;
}
.sisi{
	padding-top: 4%;
}
